/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 25px 2% 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}
body .header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body .header .logo {
  width: 122px;
  height: 122px;
  margin-left: 5.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 1s all;
}
body .header .logo .logo__img,
body .header .logo .logo__text {
  position: absolute;
}
body .header .logo:hover {
  transform: rotateY(180deg);
  transition: 1s all;
}
body .header .title {
  width: 100%;
  font-size: 3rem;
  text-align: center;
}
body .main {
  border: 1px solid #000;
  margin: 40px 2% 0;
}
body .main .tabs {
  display: flex;
  flex-direction: row;
}
body .main .tabs .tabs__wrap {
  width: 27%;
  display: flex;
  flex-direction: column;
  background-color: #cfe2f3;
}
body .main .tabs .tabs__wrap .tabs__list .tabs__item {
  padding: 12px 4.845%;
  font-size: 1.5rem;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}
body .main .tabs .tabs__wrap .copyright {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 12px;
  border-right: 1px solid #000;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.9rem;
  color: #999999;
}
body .main .tabs .tabs__section {
  width: 73%;
  padding: 12px 1.305% 30px 3.263%;
  background-color: #d9d2e9;
}
body .main .tabs .tabs__section .text {
  display: grid;
  grid-template-areas: "A A A B B B" "C C D D E E" "F F G G G G";
  gap: 30px;
}
body .main .tabs .tabs__section .text .text__item--mod-a {
  grid-area: A;
}
body .main .tabs .tabs__section .text .text__item--mod-b {
  grid-area: B;
}
body .main .tabs .tabs__section .text .text__item--mod-c {
  grid-area: C;
}
body .main .tabs .tabs__section .text .text__item--mod-d {
  grid-area: D;
}
body .main .tabs .tabs__section .text .text__item--mod-e {
  grid-area: E;
}
body .main .tabs .tabs__section .text .text__item--mod-f {
  grid-area: F;
}
body .main .tabs .tabs__section .text .text__item--mod-g {
  grid-area: G;
}

.square {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 0;
  transition: 1s all;
  background-color: #cfe2f3;
  border-radius: 1px;
  overflow: hidden;
}
.square .square__item {
  position: absolute;
  width: 100%;
  height: 100%;
}
.square .square__item .trapezium__item {
  position: absolute;
  width: 100%;
  border-bottom: 12px solid #000;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}
.square .square__item .trapezium__item::before {
  content: "";
  position: absolute;
  width: 57px;
  left: -8px;
  border-bottom: 8px solid #d8e7f5;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 2px solid transparent;
}
.square .square__item .trapezium__item--mod {
  transform: rotate(180deg);
}
.square .square__item .trapezium__item--spec {
  bottom: 0;
}
.square .square__item .trapezium__item--spec::before {
  border-bottom: 8px solid #a5b4c2;
}
.square .square__item--mod {
  transform: rotate(-90deg);
  background: none;
}
.square .square__item--mod .trapezium__item::before {
  border-bottom: 8px solid #e2edf7;
}
.square .square__item--mod .trapezium__item--spec::before {
  border-bottom: 8px solid #7c8791;
}

.square:hover {
  transform-origin: center center;
  transform: rotate(360deg);
  transition: 1s all;
}/*# sourceMappingURL=style.css.map */