/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 27px 2% 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
body .header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body .header .logo {
  width: 122px;
  height: 122px;
  margin-left: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s all;
}
body .header .logo .logo__img,
body .header .logo .logo__text {
  position: absolute;
}
body .header .logo .logo__text {
  font-size: 1.3rem;
}
body .header .logo:hover {
  transform: rotateY(180deg);
  transition: 1s all;
}
body .header .title {
  width: 100%;
  font-size: 3.5rem;
  text-align: center;
}
@media (min-width: 1000px) {
  body .header .title {
    font-size: 3rem;
  }
}
body .main {
  position: relative;
  border: 1px solid #000;
  margin-top: 27px;
}
body .main .tabs {
  display: flex;
  flex-direction: row;
}
body .main .tabs .tabs__wrap {
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #cfe2f3;
}
body .main .tabs .tabs__wrap .tabs__list {
  display: flex;
  flex-direction: column;
}
body .main .tabs .tabs__wrap .tabs__list .tabs__item {
  position: relative;
  padding: 12px 4.845%;
  font-size: 2.5rem;
  height: 90px;
  overflow: hidden;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}
@media (min-width: 1000px) {
  body .main .tabs .tabs__wrap .tabs__list .tabs__item {
    height: 49px;
    font-size: 1.5rem;
  }
}
body .main .tabs .tabs__wrap .tabs__list .tabs__item .tabs__text {
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  left: 12px;
  top: 0;
  white-space: nowrap;
}
body .main .tabs .tabs__wrap .tabs__list .tabs__item:hover {
  cursor: pointer;
  background-color: #d9d2e9;
}
body .main .tabs .tabs__wrap .tabs__list .tabs__item--mod {
  background-color: #d9d2e9;
  border-right: none;
}
body .main .tabs .tabs__wrap .copyright {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
  padding: 12px 0;
  border-right: 1px solid #000;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  color: #999;
}
@media (min-width: 1000px) {
  body .main .tabs .tabs__wrap .copyright {
    font-size: 0.9rem;
  }
}
body .main .tabs .tabs__section {
  width: 72%;
  padding: 15px 2.8% 30px 3.263%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: #d9d2e9;
}
body .main .tabs .tabs__section .tabs__body {
  font-size: 3rem;
  text-align: center;
}
@media (min-width: 1000px) {
  body .main .tabs .tabs__section .tabs__body {
    font-size: 2.5rem;
  }
}
body .main .tabs .tabs__section .text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 2rem;
  text-align: left;
}
@media (min-width: 1000px) {
  body .main .tabs .tabs__section .text {
    display: grid;
    grid-template-areas: "A A A B B B" "C C D D E E" "F F G G G G";
    font-size: 1.1rem;
  }
}
body .main .tabs .tabs__section .text .text__item--mod-a {
  grid-area: A;
}
body .main .tabs .tabs__section .text .text__item--mod-b {
  grid-area: B;
}
body .main .tabs .tabs__section .text .text__item--mod-c {
  grid-area: C;
}
body .main .tabs .tabs__section .text .text__item--mod-d {
  grid-area: D;
}
body .main .tabs .tabs__section .text .text__item--mod-e {
  grid-area: E;
}
body .main .tabs .tabs__section .text .text__item--mod-f {
  grid-area: F;
}
body .main .tabs .tabs__section .text .text__item--mod-g {
  grid-area: G;
}
body .cursor {
  animation: opacity 0.4s infinite alternate;
  font-weight: 900;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.square {
  position: absolute;
  width: 55px;
  height: 55px;
  right: -27px;
  top: -27px;
  transition: 1s all;
  background-color: #cfe2f3;
  border-radius: 1px;
  overflow: hidden;
}
.square .square__item {
  position: absolute;
  width: 100%;
  height: 100%;
}
.square .square__item .trapezium__item {
  position: absolute;
  width: 100%;
  border-bottom: 7px solid #000;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
.square .square__item .trapezium__item::before {
  content: "";
  position: absolute;
  width: 41.5px;
  left: -5px;
  border-bottom: 5px solid #d8e7f5;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 1px solid transparent;
}
.square .square__item .trapezium__item--mod {
  transform: rotate(180deg);
}
.square .square__item .trapezium__item--spec {
  bottom: 0;
}
.square .square__item .trapezium__item--spec::before {
  border-bottom: 5px solid #a5b4c2;
}
.square .square__item--mod {
  transform: rotate(-90deg);
  background: none;
}
.square .square__item--mod .trapezium__item::before {
  border-bottom: 5px solid #e2edf7;
}
.square .square__item--mod .trapezium__item--spec::before {
  border-bottom: 5px solid #7c8791;
}

.square:hover {
  transform-origin: center center;
  transform: rotate(360deg);
  transition: 1s all;
}/*# sourceMappingURL=style.css.map */